<div class="container ">
  <div class="flex flex-col gap-y-3">
    <h1 class="text-3xl">Edit</h1>
    <div class="grid grid-cols-12">
      <div class="align-middle">
        Firstname
      </div>
      <input class="rounded px-3 py-2 border" placeholder="firstname" name="firstname" [(ngModel)]="newInformation.firstname" />
    </div>
    <div class="grid grid-cols-12">
      <div class="align-middle">
        Lastname
      </div>
      <input class="rounded px-3 py-2 border" placeholder="lastname" name="lastname" [(ngModel)]="newInformation.lastname" />
    </div>
    <div class="grid grid-cols-12">
      <div class="align-middle">
        Profile Picture link
      </div>
      <input class="rounded px-3 py-2 border" placeholder="profile picture" name="profilepicture" [(ngModel)]="newInformation.profilePictureLink" />
    </div>
    <button class="self-center shadow rounded bg-purple-600 text-center px-3 py-1 font-bold text-white my-auto" (click)="updateProf()">Mettre à jour </button>
  </div>
</div>
