<h1>Les devoirs demandés</h1>
<div class="card-container">
    @if (this.assignmentProfList) {
      @if (this.assignmentProfList.length > 0) {
        @for (assignment of assignmentProfList; track assignment.title) {
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{assignment.title}}</mat-card-title>
              <mat-card-subtitle>{{assignment.subject.title}} - {{assignment.prof.name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{assignment.description}}
              </p>
            </mat-card-content>
            <mat-card-actions class="card-actions-right">
              <button mat-flat-button color="primary" routerLink="/assignment-student">Voir</button>
            </mat-card-actions>
          </mat-card>
        }
      }
    }

    <!-- <mat-card class="example-card">
      <mat-card-header>
          <mat-card-title>Devoir n° X</mat-card-title>
        <mat-card-subtitle>Matière xx</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Information matière
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
          <mat-card-title>Devoir n° X</mat-card-title>
        <mat-card-subtitle>Matière xx</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Information maatière
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
          <mat-card-title>Devoir n° X</mat-card-title>
        <mat-card-subtitle>Matière xx</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Information matière
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
          <mat-card-title>Devoir n° X</mat-card-title>
        <mat-card-subtitle>Matière xx</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Information maatière
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card> -->
  </div>

