<div class="full-screen-container">
    <form class="example-form">
        <h1 class="bold-heading">ENVOYEZ VOTRE DEVOIR ICI</h1>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Lien devoir</mat-label>
            <input matInput name="lien" [(ngModel)]="formData.linkAssignment">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Remarque</mat-label>
            <textarea matInput name="remarque" [(ngModel)]="formData.remarkFromStudent"></textarea>
        </mat-form-field>
        <button (click)="submitAssignment()" mat-stroked-button color="accent">Accent</button>
    </form>
  </div>
  